{% extends "base.html" %}
{% block title %}New Post – DailyX{% endblock %}

{% block content %}

<main class="page-centered">

  <section class="card create-post-card wide">
    <h1>Create a new post</h1>

    <form class="form" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="post-actions">
        <span class="char-count" data-char-count>280</span>
        <button type="submit" class="btn primary">Post</button>
      </div>
    </form>
  </section>

</main>

{% endblock %}
